.navbar-container {
    position: sticky;
    top: 0;
    height: 64px;
    background-color: #0a0a0a;
    padding-bottom: 2px;
    z-index: 2;
}

.navbar {
    height: 100%;
    border-radius: 10px;
    border-bottom: solid #0a0a0a 2px;
    transition: border-bottom-color 250ms;
    padding: 10px;
    display: flex;
    align-items: center;
}

html:not([data-scroll="0"]) .navbar {
    border-bottom: solid #171717 2px;
}

.navbar-main {
    font-size: 24px;
    padding: 5px 15px;
    background-color: #171717;
    border-radius: 20px;
}

.navbar-item {
    font-size: 24px;
    padding: 5px 15px;
}