.card-container {
    height: 400px;
    width: 100%;
    page-break-inside: avoid;
    break-inside: avoid-column;
    display: flex;
    box-sizing: border-box;
    background-color: #191919;
    border-radius: 10px;
    min-width: 450px;
}

.card-container.wide {
    grid-column: span 2;
}

.card-container:has(.main-card) {
    height: max(400px, 60vh);
}

.card-container:has(.page-card) {
    height: 400px;
}

.card {
    height: 100%;
    min-height: 400px;

    border-radius: 10px;

    position: relative;
    clip-path: border-box;
    overflow: hidden;

    flex: 1;
}

.card-content {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.card * {
    z-index: 1;
    position: relative;
    user-select: none;
    word-wrap: break-word;
}

.main-card {
    background: linear-gradient(135deg, hsl(0, 100%, 20%) 0%, hsl(39, 100%, 43%) 100%);
}

.side-card {
    background-color: #171717;
}

.page-card {
    background-color: #171717;
}

@media (max-width: 1100px) {
    .card-container {
        flex-direction: column;
    }

    .card-container.wide {
        grid-column: unset;
        height: unset;
        min-height: 400px;
    }
}